---
interface Props {
    title: string;
    date: string;
}

import { format, parseISO } from 'date-fns';
import { hu } from 'date-fns/locale';

import PoemBody from './PoemBody.astro';


const { title, iso_date } = Astro.props;

const date = format(parseISO(iso_date), "yyyy MMMM d.", { locale: hu });
---

<article class="poem literata-default">
<h1 class="literata-title poem-title">{title}</h1>

<PoemBody>
    <slot />
</PoemBody>

<p class="literata-date">{date}</p>


</article>

<style>
  .poem {
    white-space: pre-wrap;
  }

  .poem-title {
    font-weight: 500;
    font-size: clamp(1.75rem, 3vw, 2.4rem);
    line-height: 1.25;
    margin-bottom: 0.5rem;
    letter-spacing: 0.01em;
  }

  .poem-date {
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 1.5rem;
    text-align: left;
  }



.literata-default {
  font-family: "Literata",
                serif;
  font-optical-sizing: auto;
  font-weight: 400; /* 200 - 900 */
  font-style: normal;
}

.literata-date {
  font-family: "Literata",
                serif;
  font-optical-sizing: auto;
  font-weight: 200; /* 200 - 900 */
  font-style: normal;
}

.literata-title {
  font-family: "Literata",
                "Georgia", "Times New Roman",
                serif;
  font-optical-sizing: auto;
  font-weight: 600; /* 200 - 900 */
  font-style: normal;
}
</style>