layout {
    pane stacked=true {
        pane name="chakra"

        pane command="run" {
            start_suspended true
        }


        pane command="lazygit" expanded=true
        pane name="other"

    }

    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
}
